In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df= pd.read_csv("Resources/HR-Employee-Attrition.csv")
attrition_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [7]:
# Generate our categorical variable list
attrition_cat=attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [10]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [16]:
# Create a OneHotEncoder instance
enc= OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns=enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [17]:
# Merge one-hot encoded features and drop the originals
attrition_df=attrition_df.merge(encode_df,left_index=True,right_index=True)
attrition_df=attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
y=attrition_df["Attrition_Yes"].values
X=attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=78)

In [21]:
# Create a StandardScaler instance
scaler=StandardScaler()

# Fit the StandardScaler
X_scaler=scaler.fit(X_train)

# Scale the data
X_train_scaled= X_scaler.transform(X_train)
X_test_scaled= X_scaler.transform(X_test)

In [25]:
# Define the model - deep neural net
number_input_feature= len(X_train[0])
hidden_node_layer1=8
hidden_node_layer2=5

nn=tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_node_layer1,input_dim=number_input_feature,activation="relu"))

#second input layer
nn.add(tf.keras.layers.Dense(units=hidden_node_layer2,activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 8)                 448
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model=nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 742us/step - loss: 327.1704 - accuracy: 0.5318
Epoch 2/100
35/35 [==============================] - 0s 640us/step - loss: 91.3110 - accuracy: 0.7985
Epoch 3/100
35/35 [==============================] - 0s 643us/step - loss: 75.9094 - accuracy: 0.7713
Epoch 4/100
35/35 [==============================] - 0s 704us/step - loss: 59.5261 - accuracy: 0.7623
Epoch 5/100
35/35 [==============================] - 0s 706us/step - loss: 44.0093 - accuracy: 0.7523
Epoch 6/100
35/35 [==============================] - 0s 694us/step - loss: 28.8589 - accuracy: 0.7432
Epoch 7/100
35/35 [==============================] - 0s 679us/step - loss: 16.6070 - accuracy: 0.7278
Epoch 8/100
35/35 [==============================] - 0s 640us/step - loss: 7.4946 - accuracy: 0.7550
Epoch 9/100
35/35 [==============================] - 0s 660us/step - loss: 3.5328 - accuracy: 0.7350
Epoch 10/100
35/35 [==============================] - 0s 677us/step - loss: 4.4207 - accuracy: 0.7332
Epoch 11/100
35/35 [==============================] - 0s 712us/step - loss: 2.6987 - accuracy: 0.7359
Epoch 12/100
35/35 [==============================] - 0s 703us/step - loss: 2.2054 - accuracy: 0.7368
Epoch 13/100
35/35 [==============================] - ETA: 0s - loss: 1.0879 - accuracy: 0.68 - 0s 708us/step - loss: 3.9052 - accuracy: 0.7287
Epoch 14/100
35/35 [==============================] - 0s 724us/step - loss: 1.8895 - accuracy: 0.7441
Epoch 15/100
35/35 [==============================] - 0s 727us/step - loss: 1.6363 - accuracy: 0.7350
Epoch 16/100
35/35 [==============================] - 0s 758us/step - loss: 2.5246 - accuracy: 0.7486
Epoch 17/100
35/35 [==============================] - 0s 763us/step - loss: 2.3196 - accuracy: 0.7387
Epoch 18/100
35/35 [==============================] - 0s 687us/step - loss: 2.5738 - accuracy: 0.7486
Epoch 19/100
35/35 [==============================] - 0s 758us/step - loss: 2.0865 - accuracy: 0.7387
Epoch 20/100
35/35 [==============================] - 0s 698us/step - loss: 3.5891 - accuracy: 0.7432
Epoch 21/100
35/35 [==============================] - 0s 699us/step - loss: 2.6895 - accuracy: 0.7260
Epoch 22/100
35/35 [==============================] - 0s 700us/step - loss: 1.3877 - accuracy: 0.7677
Epoch 23/100
35/35 [==============================] - 0s 697us/step - loss: 1.3001 - accuracy: 0.7577
Epoch 24/100
35/35 [==============================] - 0s 700us/step - loss: 1.6011 - accuracy: 0.7505
Epoch 25/100
35/35 [==============================] - 0s 704us/step - loss: 1.1681 - accuracy: 0.7623
Epoch 26/100
35/35 [==============================] - 0s 670us/step - loss: 2.3002 - accuracy: 0.7668
Epoch 27/100
35/35 [==============================] - 0s 710us/step - loss: 2.0600 - accuracy: 0.7577
Epoch 28/100
35/35 [==============================] - 0s 747us/step - loss: 2.7389 - accuracy: 0.7368
Epoch 29/100
35/35 [==============================] - 0s 725us/step - loss: 2.1085 - accuracy: 0.7722
Epoch 30/100
35/35 [==============================] - 0s 741us/step - loss: 2.4127 - accuracy: 0.7477
Epoch 31/100
35/35 [==============================] - 0s 715us/step - loss: 5.0598 - accuracy: 0.7359
Epoch 32/100
35/35 [==============================] - 0s 702us/step - loss: 4.4079 - accuracy: 0.7377
Epoch 33/100
35/35 [==============================] - 0s 780us/step - loss: 1.1059 - accuracy: 0.7795
Epoch 34/100
35/35 [==============================] - 0s 716us/step - loss: 2.3493 - accuracy: 0.7332
Epoch 35/100
35/35 [==============================] - 0s 689us/step - loss: 2.0733 - accuracy: 0.7613
Epoch 36/100
35/35 [==============================] - 0s 665us/step - loss: 4.1073 - accuracy: 0.7477
Epoch 37/100
35/35 [==============================] - 0s 706us/step - loss: 2.5243 - accuracy: 0.7686
Epoch 38/100
35/35 [==============================] - 0s 694us/step - loss: 1.5729 - accuracy: 0.7577
Epoch 39/100
35/35 [==============================] - 0s 689us/step - loss: 2.7225 - accuracy: 0.7740
Epoch 40/100
35/35 [==============================] - 0s 679us/step - loss: 1.6303 - accuracy: 0.7659
Epoch 41/100
35/35 [==============================] - 0s 705us/step - loss: 1.1378 - accuracy: 0.7777
Epoch 42/100
35/35 [==============================] - 0s 706us/step - loss: 3.0264 - accuracy: 0.7514
Epoch 43/100
35/35 [==============================] - 0s 682us/step - loss: 1.3061 - accuracy: 0.7795
Epoch 44/100
35/35 [==============================] - 0s 696us/step - loss: 0.8796 - accuracy: 0.8022
Epoch 45/100
35/35 [==============================] - 0s 719us/step - loss: 2.0984 - accuracy: 0.7477
Epoch 46/100
35/35 [==============================] - 0s 713us/step - loss: 2.6391 - accuracy: 0.7477
Epoch 47/100
35/35 [==============================] - 0s 738us/step - loss: 1.8208 - accuracy: 0.7595
Epoch 48/100
35/35 [==============================] - 0s 756us/step - loss: 1.8722 - accuracy: 0.7604
Epoch 49/100
35/35 [==============================] - 0s 690us/step - loss: 3.0031 - accuracy: 0.7441
Epoch 50/100
35/35 [==============================] - 0s 713us/step - loss: 2.2165 - accuracy: 0.7750
Epoch 51/100
35/35 [==============================] - 0s 676us/step - loss: 4.4456 - accuracy: 0.7514
Epoch 52/100
35/35 [==============================] - 0s 634us/step - loss: 1.5384 - accuracy: 0.7659
Epoch 53/100
35/35 [==============================] - 0s 680us/step - loss: 1.3648 - accuracy: 0.7804
Epoch 54/100
35/35 [==============================] - 0s 644us/step - loss: 1.5100 - accuracy: 0.7677
Epoch 55/100
35/35 [==============================] - 0s 709us/step - loss: 2.1228 - accuracy: 0.7641
Epoch 56/100
35/35 [==============================] - 0s 706us/step - loss: 2.1914 - accuracy: 0.7722
Epoch 57/100
35/35 [==============================] - 0s 682us/step - loss: 0.9715 - accuracy: 0.7904
Epoch 58/100
35/35 [==============================] - 0s 736us/step - loss: 1.1925 - accuracy: 0.8103
Epoch 59/100
35/35 [==============================] - 0s 707us/step - loss: 0.8047 - accuracy: 0.8176
Epoch 60/100
35/35 [==============================] - 0s 677us/step - loss: 1.6264 - accuracy: 0.7686
Epoch 61/100
35/35 [==============================] - 0s 681us/step - loss: 1.3728 - accuracy: 0.7904
Epoch 62/100
35/35 [==============================] - 0s 706us/step - loss: 3.6504 - accuracy: 0.7595
Epoch 63/100
35/35 [==============================] - 0s 677us/step - loss: 1.3261 - accuracy: 0.7895
Epoch 64/100
35/35 [==============================] - 0s 647us/step - loss: 1.7799 - accuracy: 0.7759
Epoch 65/100
35/35 [==============================] - 0s 706us/step - loss: 2.7195 - accuracy: 0.7722
Epoch 66/100
35/35 [==============================] - 0s 676us/step - loss: 1.4072 - accuracy: 0.8031
Epoch 67/100
35/35 [==============================] - 0s 650us/step - loss: 1.2363 - accuracy: 0.7750
Epoch 68/100
35/35 [==============================] - 0s 706us/step - loss: 1.3821 - accuracy: 0.7713
Epoch 69/100
35/35 [==============================] - 0s 647us/step - loss: 1.6586 - accuracy: 0.7668
Epoch 70/100
35/35 [==============================] - 0s 676us/step - loss: 2.4507 - accuracy: 0.7595
Epoch 71/100
35/35 [==============================] - 0s 677us/step - loss: 1.2373 - accuracy: 0.7886
Epoch 72/100
35/35 [==============================] - 0s 687us/step - loss: 0.6187 - accuracy: 0.8230
Epoch 73/100
35/35 [==============================] - 0s 677us/step - loss: 1.3432 - accuracy: 0.7913
Epoch 74/100
35/35 [==============================] - 0s 735us/step - loss: 1.3840 - accuracy: 0.8031
Epoch 75/100
35/35 [==============================] - 0s 697us/step - loss: 1.9868 - accuracy: 0.7623
Epoch 76/100
35/35 [==============================] - 0s 695us/step - loss: 1.2075 - accuracy: 0.7731
Epoch 77/100
35/35 [==============================] - 0s 676us/step - loss: 4.6679 - accuracy: 0.7541
Epoch 78/100
35/35 [==============================] - 0s 706us/step - loss: 1.4727 - accuracy: 0.7750
Epoch 79/100
35/35 [==============================] - 0s 735us/step - loss: 1.1960 - accuracy: 0.7804
Epoch 80/100

35/35 [==============================] - 0s 677us/step - loss: 1.0781 - accuracy: 0.7858
Epoch 81/100
35/35 [==============================] - 0s 676us/step - loss: 2.0630 - accuracy: 0.7813
Epoch 82/100
35/35 [==============================] - 0s 676us/step - loss: 2.6901 - accuracy: 0.7577
Epoch 83/100
35/35 [==============================] - 0s 647us/step - loss: 1.3323 - accuracy: 0.7831
Epoch 84/100
35/35 [==============================] - 0s 679us/step - loss: 2.4348 - accuracy: 0.7568
Epoch 85/100
35/35 [==============================] - 0s 706us/step - loss: 1.4550 - accuracy: 0.7659
Epoch 86/100
35/35 [==============================] - 0s 706us/step - loss: 1.4896 - accuracy: 0.7759
Epoch 87/100
35/35 [==============================] - 0s 706us/step - loss: 0.6638 - accuracy: 0.8258
Epoch 88/100
35/35 [==============================] - 0s 680us/step - loss: 0.8004 - accuracy: 0.8013
Epoch 89/100
35/35 [==============================] - 0s 735us/step - loss: 2.1863 - accuracy: 0.7668
Epoch 90/100
35/35 [==============================] - 0s 706us/step - loss: 4.0270 - accuracy: 0.7486
Epoch 91/100
35/35 [==============================] - 0s 706us/step - loss: 1.6128 - accuracy: 0.7813
Epoch 92/100
35/35 [==============================] - 0s 676us/step - loss: 1.0304 - accuracy: 0.8103
Epoch 93/100
35/35 [==============================] - 0s 765us/step - loss: 2.1893 - accuracy: 0.7695
Epoch 94/100
35/35 [==============================] - 0s 684us/step - loss: 1.1844 - accuracy: 0.8013
Epoch 95/100
35/35 [==============================] - 0s 725us/step - loss: 2.4079 - accuracy: 0.7695
Epoch 96/100
35/35 [==============================] - 0s 706us/step - loss: 2.2196 - accuracy: 0.7740
Epoch 97/100
35/35 [==============================] - 0s 706us/step - loss: 2.0329 - accuracy: 0.7586
Epoch 98/100
35/35 [==============================] - 0s 706us/step - loss: 2.1745 - accuracy: 0.7604
Epoch 99/100
35/35 [==============================] - 0s 706us/step - loss: 3.3277 - accuracy: 0.7523
Epoch 100/100
35/35 [==============================] - 0s 648us/step - loss: 1.0741 - accuracy: 0.7976

In [28]:
# Evaluate the model using the test data
model_loss,model_accuracy=nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss:{model_loss}, Accuracy:{model_accuracy}")

12/12 - 0s - loss: 1.0669 - accuracy: 0.6902
Loss:1.06688392162323, Accuracy:0.6902173757553101