In [1]:
#import dependencies
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

In [2]:
# get data
df=pd.read_csv("Resources/loan_status.csv")
df

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36418,Fully_Paid,99999999,Short_Term,742.0,1190046.0,<_1_year,Rent,Other,11969.81,20.1,16.0,9,0,37392,134442.0,0.0,0.0
36419,Fully_Paid,44484,Short_Term,717.0,1152426.0,10+_years,Home_Mortgage,Other,6280.64,21.0,12.0,6,0,961932,0.0,0.0,0.0
36420,Fully_Paid,210584,Short_Term,719.0,783389.0,1_year,Home_Mortgage,Other,3727.61,17.4,18.0,6,0,456,259160.0,0.0,0.0
36421,Fully_Paid,99999999,Short_Term,732.0,1289416.0,1_year,Rent,Debt_Consolidation,13109.05,9.4,21.0,22,0,153045,509234.0,0.0,0.0
36422,Fully_Paid,103136,Short_Term,742.0,1150545.0,6_years,Rent,Debt_Consolidation,7315.57,18.8,18.0,12,1,109554,537548.0,1.0,0.0

In [4]:
# Generate our categorical variable list to check for unique values
loan_cat=df.dtypes[df.dtypes=="object"].index.tolist()

# Check the number of unique values in each column
df[loan_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [5]:
# Check the unique value counts to see if binning is required
df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [7]:
# Create a OneHotEncoder instance
enc=OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(enc.fit_transform(df[loan_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns=enc.get_feature_names(loan_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
df=df.merge(encode_df,right_index=True,left_index=True)
df=df.drop(loan_cat,1)
df.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [11]:
# Remove loan status target from features data
y=df.Loan_Status_Fully_Paid
X=df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,stratify=y)

# Create a StandardScaler instance
scaler=StandardScaler()
X_scaler=scaler.fit(X_train)

# Scale the data
X_train_scaled=X_scaler.transform(X_train)
X_test_scaled=X_scaler.transform(X_test)

In [12]:
# Create a random forest classifier.
rf_model=RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model=rf_model.fit(X_train_scaled,y_train)

# Evaluate the model
y_pred=rf_model.predict(X_test_scaled)
print(f"Random forest accuracy:{accuracy_score(y_test,y_pred):.3f}")

Random forest accuracy:0.849

In [15]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 1s 611us/step - loss: 0.4236 - accuracy: 0.8335
Epoch 2/50
854/854 [==============================] - 1s 633us/step - loss: 0.3864 - accuracy: 0.8491
Epoch 3/50
854/854 [==============================] - 1s 631us/step - loss: 0.3826 - accuracy: 0.8497
Epoch 4/50
854/854 [==============================] - 1s 640us/step - loss: 0.3801 - accuracy: 0.8496
Epoch 5/50
854/854 [==============================] - 1s 621us/step - loss: 0.3791 - accuracy: 0.8499
Epoch 6/50
854/854 [==============================] - 1s 616us/step - loss: 0.3773 - accuracy: 0.8494
Epoch 7/50
854/854 [==============================] - 1s 634us/step - loss: 0.3766 - accuracy: 0.8498
Epoch 8/50
854/854 [==============================] - 1s 638us/step - loss: 0.3758 - accuracy: 0.8498
Epoch 9/50
854/854 [==============================] - 1s 633us/step - loss: 0.3752 - accuracy: 0.8500
Epoch 10/50
854/854 [==============================] - 1s 633us/step - loss: 0.3747 - accuracy: 0.8497
Epoch 11/50
854/854 [==============================] - 1s 657us/step - loss: 0.3740 - accuracy: 0.8497
Epoch 12/50
854/854 [==============================] - 1s 641us/step - loss: 0.3736 - accuracy: 0.8499
Epoch 13/50
854/854 [==============================] - 1s 638us/step - loss: 0.3733 - accuracy: 0.8498
Epoch 14/50
854/854 [==============================] - 1s 631us/step - loss: 0.3724 - accuracy: 0.8501
Epoch 15/50
854/854 [==============================] - 1s 629us/step - loss: 0.3718 - accuracy: 0.8506
Epoch 16/50
854/854 [==============================] - 1s 638us/step - loss: 0.3718 - accuracy: 0.8500
Epoch 17/50
854/854 [==============================] - 1s 671us/step - loss: 0.3709 - accuracy: 0.85030s - loss: 0.3727 - accura
Epoch 18/50
854/854 [==============================] - 1s 646us/step - loss: 0.3710 - accuracy: 0.8502
Epoch 19/50
854/854 [==============================] - 1s 644us/step - loss: 0.3703 - accuracy: 0.8505
Epoch 20/50
854/854 [==============================] - 1s 642us/step - loss: 0.3705 - accuracy: 0.8506
Epoch 21/50
854/854 [==============================] - 1s 672us/step - loss: 0.3699 - accuracy: 0.8503
Epoch 22/50
854/854 [==============================] - 1s 663us/step - loss: 0.3695 - accuracy: 0.8508
Epoch 23/50
854/854 [==============================] - 1s 624us/step - loss: 0.3693 - accuracy: 0.8504
Epoch 24/50
854/854 [==============================] - 1s 636us/step - loss: 0.3688 - accuracy: 0.8508
Epoch 25/50
854/854 [==============================] - 1s 636us/step - loss: 0.3685 - accuracy: 0.8507
Epoch 26/50
854/854 [==============================] - 1s 628us/step - loss: 0.3682 - accuracy: 0.8510
Epoch 27/50
854/854 [==============================] - 1s 619us/step - loss: 0.3684 - accuracy: 0.8507
Epoch 28/50
854/854 [==============================] - 1s 644us/step - loss: 0.3680 - accuracy: 0.8518
Epoch 29/50
854/854 [==============================] - 1s 661us/step - loss: 0.3673 - accuracy: 0.8517
Epoch 30/50
854/854 [==============================] - 1s 671us/step - loss: 0.3671 - accuracy: 0.8509
Epoch 31/50
854/854 [==============================] - 1s 668us/step - loss: 0.3666 - accuracy: 0.8514
Epoch 32/50
854/854 [==============================] - 1s 650us/step - loss: 0.3665 - accuracy: 0.8520
Epoch 33/50
854/854 [==============================] - 1s 662us/step - loss: 0.3655 - accuracy: 0.8519
Epoch 34/50
854/854 [==============================] - 1s 655us/step - loss: 0.3659 - accuracy: 0.8515
Epoch 35/50
854/854 [==============================] - 1s 645us/step - loss: 0.3659 - accuracy: 0.8520
Epoch 36/50
854/854 [==============================] - 1s 657us/step - loss: 0.3655 - accuracy: 0.8517
Epoch 37/50
854/854 [==============================] - 1s 649us/step - loss: 0.3651 - accuracy: 0.8520
Epoch 38/50
854/854 [==============================] - 1s 642us/step - loss: 0.3652 - accuracy: 0.8513
Epoch 39/50
854/854 [==============================] - 1s 646us/step - loss: 0.3650 - accuracy: 0.8522
Epoch 40/50
854/854 [==============================] - 1s 625us/step - loss: 0.3645 - accuracy: 0.8521
Epoch 41/50
854/854 [==============================] - 1s 653us/step - loss: 0.3643 - accuracy: 0.8516
Epoch 42/50
854/854 [==============================] - 1s 639us/step - loss: 0.3644 - accuracy: 0.8524
Epoch 43/50
854/854 [==============================] - 1s 646us/step - loss: 0.3638 - accuracy: 0.8518
Epoch 44/50
854/854 [==============================] - 1s 622us/step - loss: 0.3637 - accuracy: 0.8523
Epoch 45/50
854/854 [==============================] - 1s 659us/step - loss: 0.3632 - accuracy: 0.8520
Epoch 46/50
854/854 [==============================] - 1s 657us/step - loss: 0.3634 - accuracy: 0.8521
Epoch 47/50
854/854 [==============================] - 1s 668us/step - loss: 0.3629 - accuracy: 0.8517
Epoch 48/50
854/854 [==============================] - 1s 659us/step - loss: 0.3631 - accuracy: 0.8521
Epoch 49/50
854/854 [==============================] - 1s 638us/step - loss: 0.3623 - accuracy: 0.8526
Epoch 50/50
854/854 [==============================] - 1s 645us/step - loss: 0.3626 - accuracy: 0.8524
285/285 - 0s - loss: 0.3908 - accuracy: 0.8457
Loss: 0.39077287912368774, Accuracy: 0.8457061052322388