In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [39]:
# Noisy variables are removed from features
application_df=application_df.drop(columns=["EIN","NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [40]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [41]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [42]:
# Binning for  APPLICATION_TYPE column

type_count=application_df.APPLICATION_TYPE.value_counts()
# Determine which values to replace if counts are less than ...?
replace_application = list(type_count[type_count < 200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [43]:
# Binning for CLASSIFICATION column
classify_count=application_df.CLASSIFICATION.value_counts()
# Determine which values to replace if counts are less than ..?
replace_class=list(classify_count[classify_count<1500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other1")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000     17326
C2000      6074
C1200      4837
Other1     2261
C3000      1918
C2100      1883
Name: CLASSIFICATION, dtype: int64

In [44]:
# Generate our categorical variable lists
application_cat=application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [45]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
# Merge one-hot encoded features and drop the originals
application_df=application_df.merge(encode_df,left_index=True,right_index=True)
application_df=application_df.drop(application_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
# Split our preprocessed data into our features and target arrays
y=application_df["IS_SUCCESSFUL"].values
X=application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=78)

In [48]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_feature=len(X_train[0])
hidden_node_layer1=9
hidden_node_layer2=7
hidden_node_layer3=5
hidden_node_layer4=3
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_node_layer1,input_dim=number_input_feature,activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node_layer2,activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node_layer3,activation="relu"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node_layer4,activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 9)                 396
_________________________________________________________________
dense_11 (Dense)             (None, 7)                 70
_________________________________________________________________
dense_12 (Dense)             (None, 5)                 40
_________________________________________________________________
dense_13 (Dense)             (None, 3)                 18
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 4
=================================================================
Total params: 528
Trainable params: 528
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints",exist_ok=True)
checkpoint_path="checkpoints/weights.{epoch:02d}.hdf5"

In [51]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=4000)

In [52]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 648us/step - loss: 0.6195 - accuracy: 0.6832
Epoch 2/100
804/804 [==============================] - 1s 653us/step - loss: 0.5712 - accuracy: 0.7259
Epoch 3/100
804/804 [==============================] - 1s 652us/step - loss: 0.5618 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 1s 648us/step - loss: 0.5582 - accuracy: 0.7296
Epoch 5/100
777/804 [===========================>..] - ETA: 0s - loss: 0.5572 - accuracy: 0.7307
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 662us/step - loss: 0.5562 - accuracy: 0.7312
Epoch 6/100
804/804 [==============================] - 1s 670us/step - loss: 0.5547 - accuracy: 0.7309
Epoch 7/100
804/804 [==============================] - 1s 667us/step - loss: 0.5541 - accuracy: 0.7314
Epoch 8/100
804/804 [==============================] - 1s 676us/step - loss: 0.5531 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 1s 709us/step - loss: 0.5527 - accuracy: 0.7318
Epoch 10/100
697/804 [=========================>....] - ETA: 0s - loss: 0.5523 - accuracy: 0.7335
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 665us/step - loss: 0.5519 - accuracy: 0.7331
Epoch 11/100
804/804 [==============================] - 1s 653us/step - loss: 0.5516 - accuracy: 0.7331
Epoch 12/100
804/804 [==============================] - 1s 648us/step - loss: 0.5515 - accuracy: 0.7332
Epoch 13/100
804/804 [==============================] - 1s 652us/step - loss: 0.5511 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 1s 657us/step - loss: 0.5505 - accuracy: 0.7334
Epoch 15/100
700/804 [=========================>....] - ETA: 0s - loss: 0.5510 - accuracy: 0.7326
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 662us/step - loss: 0.5501 - accuracy: 0.7338
Epoch 16/100
804/804 [==============================] - 1s 651us/step - loss: 0.5502 - accuracy: 0.7334
Epoch 17/100
804/804 [==============================] - 1s 650us/step - loss: 0.5495 - accuracy: 0.7344
Epoch 18/100
804/804 [==============================] - 1s 647us/step - loss: 0.5493 - accuracy: 0.7343
Epoch 19/100
804/804 [==============================] - 1s 652us/step - loss: 0.5491 - accuracy: 0.7336
Epoch 20/100
701/804 [=========================>....] - ETA: 0s - loss: 0.5466 - accuracy: 0.7345
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 662us/step - loss: 0.5483 - accuracy: 0.7330
Epoch 21/100
804/804 [==============================] - 1s 650us/step - loss: 0.5486 - accuracy: 0.7344
Epoch 22/100
804/804 [==============================] - 1s 673us/step - loss: 0.5488 - accuracy: 0.7343
Epoch 23/100
804/804 [==============================] - 1s 665us/step - loss: 0.5482 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 679us/step - loss: 0.5481 - accuracy: 0.7339
Epoch 25/100
668/804 [=======================>......] - ETA: 0s - loss: 0.5488 - accuracy: 0.7331
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 689us/step - loss: 0.5480 - accuracy: 0.7338
Epoch 26/100
804/804 [==============================] - 1s 673us/step - loss: 0.5481 - accuracy: 0.7338
Epoch 27/100
804/804 [==============================] - 1s 683us/step - loss: 0.5475 - accuracy: 0.7351
Epoch 28/100
804/804 [==============================] - 1s 677us/step - loss: 0.5476 - accuracy: 0.7342
Epoch 29/100
804/804 [==============================] - 1s 678us/step - loss: 0.5472 - accuracy: 0.7340
Epoch 30/100
682/804 [========================>.....] - ETA: 0s - loss: 0.5457 - accuracy: 0.7350
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 676us/step - loss: 0.5473 - accuracy: 0.7339
Epoch 31/100
804/804 [==============================] - 1s 691us/step - loss: 0.5472 - accuracy: 0.7351
Epoch 32/100
804/804 [==============================] - 1s 667us/step - loss: 0.5466 - accuracy: 0.7342
Epoch 33/100
804/804 [==============================] - 1s 653us/step - loss: 0.5469 - accuracy: 0.7339
Epoch 34/100
804/804 [==============================] - 1s 673us/step - loss: 0.5467 - accuracy: 0.7358
Epoch 35/100
607/804 [=====================>........] - ETA: 0s - loss: 0.5461 - accuracy: 0.7361
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 680us/step - loss: 0.5468 - accuracy: 0.7353
Epoch 36/100
804/804 [==============================] - 1s 704us/step - loss: 0.5469 - accuracy: 0.7348
Epoch 37/100
804/804 [==============================] - 1s 675us/step - loss: 0.5461 - accuracy: 0.7349
Epoch 38/100
804/804 [==============================] - 1s 668us/step - loss: 0.5466 - accuracy: 0.7353
Epoch 39/100
804/804 [==============================] - 1s 667us/step - loss: 0.5463 - accuracy: 0.7351
Epoch 40/100
590/804 [=====================>........] - ETA: 0s - loss: 0.5448 - accuracy: 0.7378
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 695us/step - loss: 0.5460 - accuracy: 0.7364
Epoch 41/100
804/804 [==============================] - 1s 675us/step - loss: 0.5461 - accuracy: 0.7347
Epoch 42/100
804/804 [==============================] - 1s 677us/step - loss: 0.5457 - accuracy: 0.7350
Epoch 43/100
804/804 [==============================] - 1s 655us/step - loss: 0.5461 - accuracy: 0.7362
Epoch 44/100
804/804 [==============================] - 1s 663us/step - loss: 0.5459 - accuracy: 0.7362
Epoch 45/100
609/804 [=====================>........] - ETA: 0s - loss: 0.5485 - accuracy: 0.7325
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 676us/step - loss: 0.5456 - accuracy: 0.7352
Epoch 46/100
804/804 [==============================] - 1s 660us/step - loss: 0.5456 - accuracy: 0.7358
Epoch 47/100
804/804 [==============================] - 1s 658us/step - loss: 0.5457 - accuracy: 0.7357
Epoch 48/100
804/804 [==============================] - 1s 670us/step - loss: 0.5456 - accuracy: 0.7360
Epoch 49/100
804/804 [==============================] - 1s 662us/step - loss: 0.5455 - accuracy: 0.7360
Epoch 50/100
548/804 [===================>..........] - ETA: 0s - loss: 0.5460 - accuracy: 0.7358
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 661us/step - loss: 0.5455 - accuracy: 0.7361
Epoch 51/100
804/804 [==============================] - 1s 648us/step - loss: 0.5450 - accuracy: 0.7355
Epoch 52/100
804/804 [==============================] - 1s 648us/step - loss: 0.5452 - accuracy: 0.7365
Epoch 53/100
804/804 [==============================] - 1s 648us/step - loss: 0.5455 - accuracy: 0.7365
Epoch 54/100
804/804 [==============================] - 1s 651us/step - loss: 0.5452 - accuracy: 0.7350
Epoch 55/100
543/804 [===================>..........] - ETA: 0s - loss: 0.5475 - accuracy: 0.7337
Epoch 00055: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 1s 658us/step - loss: 0.5447 - accuracy: 0.7360
Epoch 56/100
804/804 [==============================] - 1s 650us/step - loss: 0.5450 - accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 1s 655us/step - loss: 0.5446 - accuracy: 0.7357
Epoch 58/100
804/804 [==============================] - 1s 646us/step - loss: 0.5444 - accuracy: 0.7359
Epoch 59/100
804/804 [==============================] - 1s 655us/step - loss: 0.5447 - accuracy: 0.7362
Epoch 60/100
548/804 [===================>..........] - ETA: 0s - loss: 0.5458 - accuracy: 0.7355
Epoch 00060: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 1s 657us/step - loss: 0.5447 - accuracy: 0.7369
Epoch 61/100
804/804 [==============================] - 1s 654us/step - loss: 0.5448 - accuracy: 0.7367
Epoch 62/100
804/804 [==============================] - 1s 651us/step - loss: 0.5442 - accuracy: 0.7357
Epoch 63/100

804/804 [==============================] - 1s 646us/step - loss: 0.5447 - accuracy: 0.7366
Epoch 64/100
804/804 [==============================] - 1s 665us/step - loss: 0.5444 - accuracy: 0.7365
Epoch 65/100
531/804 [==================>...........] - ETA: 0s - loss: 0.5439 - accuracy: 0.7359
Epoch 00065: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 1s 671us/step - loss: 0.5444 - accuracy: 0.7364
Epoch 66/100
804/804 [==============================] - 1s 661us/step - loss: 0.5446 - accuracy: 0.7364
Epoch 67/100
804/804 [==============================] - 1s 672us/step - loss: 0.5443 - accuracy: 0.7374
Epoch 68/100
804/804 [==============================] - 1s 664us/step - loss: 0.5444 - accuracy: 0.7367
Epoch 69/100
804/804 [==============================] - 1s 669us/step - loss: 0.5442 - accuracy: 0.7364
Epoch 70/100
509/804 [=================>............] - ETA: 0s - loss: 0.5422 - accuracy: 0.7378
Epoch 00070: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 1s 708us/step - loss: 0.5441 - accuracy: 0.7369
Epoch 71/100
804/804 [==============================] - 1s 650us/step - loss: 0.5437 - accuracy: 0.7360
Epoch 72/100
804/804 [==============================] - 1s 682us/step - loss: 0.5440 - accuracy: 0.7362
Epoch 73/100
804/804 [==============================] - 1s 623us/step - loss: 0.5442 - accuracy: 0.7359
Epoch 74/100
804/804 [==============================] - 1s 623us/step - loss: 0.5438 - accuracy: 0.7374
Epoch 75/100
452/804 [===============>..............] - ETA: 0s - loss: 0.5407 - accuracy: 0.7376
Epoch 00075: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 1s 705us/step - loss: 0.5436 - accuracy: 0.7360
Epoch 76/100
804/804 [==============================] - 1s 705us/step - loss: 0.5442 - accuracy: 0.7374
Epoch 77/100
804/804 [==============================] - 1s 723us/step - loss: 0.5439 - accuracy: 0.7365
Epoch 78/100
804/804 [==============================] - 1s 721us/step - loss: 0.5443 - accuracy: 0.7374
Epoch 79/100
804/804 [==============================] - 1s 767us/step - loss: 0.5441 - accuracy: 0.7371
Epoch 80/100
437/804 [===============>..............] - ETA: 0s - loss: 0.5404 - accuracy: 0.7392
Epoch 00080: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 1s 712us/step - loss: 0.5442 - accuracy: 0.7370
Epoch 81/100
804/804 [==============================] - 1s 728us/step - loss: 0.5443 - accuracy: 0.7370
Epoch 82/100
804/804 [==============================] - 1s 712us/step - loss: 0.5437 - accuracy: 0.7362
Epoch 83/100
804/804 [==============================] - 1s 762us/step - loss: 0.5441 - accuracy: 0.7366
Epoch 84/100
804/804 [==============================] - 1s 707us/step - loss: 0.5440 - accuracy: 0.7368
Epoch 85/100
426/804 [==============>...............] - ETA: 0s - loss: 0.5415 - accuracy: 0.7385
Epoch 00085: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 1s 721us/step - loss: 0.5438 - accuracy: 0.7371
Epoch 86/100
804/804 [==============================] - 1s 721us/step - loss: 0.5433 - accuracy: 0.7377
Epoch 87/100
804/804 [==============================] - 1s 747us/step - loss: 0.5436 - accuracy: 0.7374
Epoch 88/100
804/804 [==============================] - 1s 757us/step - loss: 0.5437 - accuracy: 0.7366
Epoch 89/100
804/804 [==============================] - 1s 739us/step - loss: 0.5434 - accuracy: 0.7376
Epoch 90/100
418/804 [==============>...............] - ETA: 0s - loss: 0.5376 - accuracy: 0.7422
Epoch 00090: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 1s 739us/step - loss: 0.5433 - accuracy: 0.7378
Epoch 91/100
804/804 [==============================] - 1s 722us/step - loss: 0.5434 - accuracy: 0.7370
Epoch 92/100
804/804 [==============================] - 1s 728us/step - loss: 0.5435 - accuracy: 0.7371
Epoch 93/100
804/804 [==============================] - 1s 793us/step - loss: 0.5435 - accuracy: 0.7365
Epoch 94/100
804/804 [==============================] - 1s 761us/step - loss: 0.5436 - accuracy: 0.7365
Epoch 95/100
419/804 [==============>...............] - ETA: 0s - loss: 0.5445 - accuracy: 0.7344
Epoch 00095: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 1s 733us/step - loss: 0.5434 - accuracy: 0.7373
Epoch 96/100
804/804 [==============================] - 1s 700us/step - loss: 0.5438 - accuracy: 0.7373
Epoch 97/100
804/804 [==============================] - 1s 695us/step - loss: 0.5433 - accuracy: 0.7364
Epoch 98/100
804/804 [==============================] - 1s 691us/step - loss: 0.5436 - accuracy: 0.7372
Epoch 99/100
804/804 [==============================] - 1s 687us/step - loss: 0.5432 - accuracy: 0.7367
Epoch 100/100
369/804 [============>.................] - ETA: 0s - loss: 0.5479 - accuracy: 0.7337
Epoch 00100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 1s 697us/step - loss: 0.5430 - accuracy: 0.7372

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5552 - accuracy: 0.7263
Loss: 0.5551683902740479, Accuracy: 0.7262973785400391

In [54]:
# Export our model to HDF5 file
nn.save("trained_application.h5")